/* Панель навигации */

.navbar .navbar-brand {
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.navbar .navbar-brand a {
  text-decoration: none;
}
.navbar .navbar-brand a b {
  color: #0d6efd;
}

.navbar .navbar-brand:hover {
  transform: scale(1.1);
}

.navbar .nav-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0;
  text-decoration: none;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar .nav-item a {
  display: flex;
  align-items: center;
  color: #707071;
  text-decoration: none;
}

.nav-link, .nav-item.dropdown {
  display: flex;
  align-items: center;
}

.dropdown-item:active a {
  color: #fff;
}
@media (max-width:992px) {
  .nav-item.show.dropdown {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dropdown-menu.show a {
  padding: 0.25rem 1rem;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-menu.show a:hover {
  background-color: #0d6efd;
  color: #fff;
}

.enter-btn {
  width: 88px;
}