/* Положение о конфиденциальности */

.Politic h2 {
    text-align: left;
}

.Politic h3 {
    margin: 0 0 20px 0;
    text-align: left;
}

.Politic p ~ .Politic p {
    margin: 10px 0 0 0;
}

.Politic a {
    cursor: pointer;
}

.Politic hr {
    margin-bottom: 55px;
}

.Politic .vstack:last-child hr {
    display: none;
}

.Politic p.update {
    color: #707071;
}