/* Правила и условия */

.Rules h2 {
    text-align: left;
}

.Rules h3 {
    margin: 0 0 20px 0;
    text-align: left;
}

.Rules p ~ .Rules p {
    margin: 10px 0 0 0;
}

.Rules p.update {
    color: #707071;
}